extends layout

block navbar
 div.centered-pills
  ul.nav.nav-pills
   li
    a(href="/") Home
   li
    a(href="play") Play the Game
   li
    a(href="newQuestion") Quiz Manager
    
block content
 div.span7.hero-unit
  h1 404 Error!
  p The page your looking for cannot be found.
