extends layout

block navbar
 div.centered-pills
  ul.nav.nav-pills
   li
    a(href="/") Home
   li
    a(href="play") Play the Game
   li
    a(href="newQuestion") Quiz Manager
    
block content
 div.span7.hero-unit
  h1 500 Server Error!
  p Something's gone horribly wrong. There is an internal server error with the page you requested.
