extends layout

block navbar
 div.centered-pills
  ul.nav.nav-pills
   li.active
    a(href="/") Home
   li
    a(href="play") Play the Game
   li.dropdown
    a.dropdown-toggle(data-toggle="dropdown", href="#") Quiz Manager
     b.caret
    ul.dropdown-menu
     li
      a(href="/quizManager/createQuestion") Create Question
     li
      a(href="/quizManager/viewQuestions") View Questions
  
block content
 div.span7.well
  p.lead This is a multiple choice quiz game that is based on a project I completed in college.
  
  h4.centered-header The Rules of the Game
  p.lead.text-success The Good Rules
  ul
   li You have 30 seconds to answer as many questions correctly as you can.
   li Each question answered correctly scores you 1 point and you gain an extra 5 seconds.
  p.lead.text-error The Not so Good Rules
  ul
   li The clock will continue to countdown to 0.
   li When the clock reaches 0 the game is over.
   li Each question answered incorrectly loses you 5 seconds.
