div.page-header
   h1 Heading

div.content	
   div.row
      div.span6
         form(method='post', action='/newQuestion/').well
            label Question:
            input(type='text', placeholder='Type the question here').span5
            label Answer 1:
            input(type='text', placeholder='Type answer number 1').span3
            label Answer 2:
            input(type='text', placeholder='Type answer number 2').span3
            label Answer 3:
            input(type='text', placeholder='Type answer number 3').span3
            label Answer 4:
            input(type='text', placeholder='Type answer number 4').span3
            label.checkbox Check Me Out
               input(type='checkbox')
            button(type='Submit').btn Add Question
            button(type='Submit').btn Cancel
